<!-- app/shows/show.hbs -->

<div class="row">
  {{#link-to 'shows'}}Back to Show List{{/link-to}}
</div>

<div class="row">
  <h1>{{model.name}}</h1>
</div>

<div class="row">
  <div class="panel panel-default">

    <div class="panel-heading">
      <span class="lead"><strong>Schedule</strong></span>
    </div>

  </div>
</div>
