<!-- app/application.hbs -->

<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Show Time <small>A time planner for your show</small></h1>
    </div>
  </div>

  {{outlet}}

</div>
