<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <p><em>Show Time</em> is a simple time planning tool for radio shows.</p>

      <p>
        Use <em>Show Time</em> to build a schedule of show elements with their time durations.
        The start time of each item is calculated and displayed with the total show length.
        Show elements can be edited and their order changed using drag & drop.
        Shows can be saved to a file as data and uploaded to other instances of <em>Show Time</em>.
        They can also be saved as text or spreadsheet CSV files.
      </p>
      <p>
        To save the data without using a server, the browser's local storage feature is used.
        This means the information is stored in the web browser,
        as long as the browser configuration allows it.
        This makes <em>Show Time</em> available at no cost thanks to the free hosting from <a href="https://github.com">GitHub</a>.
        Please see the <strong><em>Data Storage</em></strong> section for details.
      </p>

      <br>

      <p class="text-center">{{#link-to "shows"}}<button class="btn btn-primary btn-lg">Show Time Application</button> {{/link-to}}</p>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="well well-sm">
      <div class="text-center">
        This is a <a href="http://100daysofcode.com/">100 Days of Code</a> project.
        Git Repository: <a href="https://github.com/dale42/showtime">github.com/dale42/showtime</a></div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Status</h2>
      </div>
      <div class="panel-body">
        <p>No more work is planned.</p>
        <p>
          There are features I'm interested in adding and I'd like to fix the drag and drop issue, but
          that would be at some undetermined, future time.
        </p>
        <p class="h5">Known Issues</p>
        <p>There are known issues in Firefox and IE11 (see below). There are no known issues in Chrome.</p>
        <ul>
          <li>Drag and drop sorting is not working in Firefox or IE11</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Data Storage</h2>
      </div>
      <div class="panel-body">
        <p>
          ShowTime uses a web-browser feature named local storage to store your information.
          In many ways it makes your web-browser act like a desktop program.
        </p>

        <p><strong>Please be aware of the following before using:</strong></p>

        <ul>
          <li>If you clear local storage in your web-browser you will delete your <em>Show Time</em> information</li>
          <li>
            Each web-browser has its own local storage.
            This means if you run <em>Show Time</em> in Chrome, you will not see your information in FireFox, Edge, or Safari.
          </li>
          <li>If you run <em>Show Time</em> in an anonymous browser session, no data is saved when the browser window is closed.</li>
        </ul>
      </div>
    </div>
  </div>

</div>
