<div class="row">
  <p>ShowTime is a simple time planning tool for radio shows. Show items and their durations are added to a show and the total show length is displayed.</p>

  <p>This is a <a href="http://100daysofcode.com/">100 Days of Code</a> project.</p>

  <p class="text-center">{{#link-to "shows"}}<button class="btn btn-primary btn-lg">Show Time Application</button> {{/link-to}}</p>

  <h2>Status</h2>

  ShowTime is currently not usuable in any practical way.

  <h2>Data Storage</h2>

  <p>ShowTime uses a web-browser feature named local storage to store your information. In many ways it makes your web-browser act like a desktop program.</p>

  <strong>Please be aware of the following before using:</strong>

  <ul>
    <li>If you clear local storage in your web-browser you will delete your ShowTime information</li>
    <li>Each web-browser has its own local storage. This means if you run ShowTime in Chrome, you will not see your information in FireFox, Edge, or Safari.</li>
    <li>If you run ShowTime in an anonymous browser session, no data is saved when the browser window is closed.</li>
  </ul>

</div>
